body {
	background-color: #f5faf5;
	text-align: center;
}

.parteSuperior {
	background-color: #edffe3;
}

.parteSuperior .titulo {
	color: #54db6b;
	font-family:  Tahoma;
	font-size: 50px;
	margin-bottom: 0px;
}

.parteSuperior .reloj {
	color: #66e2f2;
	font-size: 23px;
	font-family:  Tahoma;
	margin-top: 0;	
}