body {
	background-color: white;
	text-align: center;
}

.parteSuperior {
	background-color: white;
	text-align: center;
	padding-top: 30px;	
}

.parteSuperior .titulo {
	color: black;
	font-family:  Tahoma;
	font-weight: bold;
	font-size: 70px;
	margin-top: 0px;
	margin-right: 40px;
	margin-bottom: 0px;
	display: inline-block;
}

.parteSuperior .reloj {
	color: grey;
	font-size: 23px;
	font-family:  Tahoma;
	margin-top: 0;
	display: inline-block;	
}

.precioBC {
	font-family:  Tahoma;
	font-size: 25px;
	margin-top: 30px;
}

.grafico{
	margin-top: 30px;
}

.foto{
	margin-top: 30px;
}